{% extends 'base.html.twig' %}

{% block body %}
<h1>{{title}}</h1>

{# {% if age > 18 %}
    <p>Tu es majeur.</p>
{% else %}
    <p>Tu es mineur.</p>
{% endif %} #}

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

{# test #}
{# Condition avec un numéro aléatoire #}
{% set age = random(0, 10) %}

{% if age <= 5 %}
    <p>Ton âge est compris entre 0 et 5 ans.</p>
{% else %}
    </p>Tu as plus de 5 ans.</p>
{% endif %}

{{ age }}

{% set favorableAuPermiz = random(6, 10) %}

{% if favorableAuPermiz >= 5 %}
    <p>Tu as ton PermiZ!</p>
{% endif %}

{% endblock %}